In [1]:
import numpy as np
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Comma-separated_values"

In [3]:
df1 = pd.read_html(url, attrs={"class": "wikitable"})[0]

In [4]:
df1.head()

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.0

In [5]:
df1.to_csv("cars_table.csv", index=False)

In [6]:
html = requests.get(url)
soup = BeautifulSoup(html.text, 'html.parser')

In [7]:
cars_table = soup.find(attrs={"class": "wikitable"})

In [8]:
df_columns = [header.text.strip('\n') for header in cars_table.find_all("th")]

In [9]:
df_columns

['Year', 'Make', 'Model', 'Description', 'Price']

In [10]:
df_data = []
for row in cars_table.find_all("tr"):
    row_cells = row.find_all("td")
    
    if row_cells:
        df_data.append([cell.text.strip('\n') for cell in row_cells])

In [11]:
df2 = pd.DataFrame(data=df_data, columns=df_columns)

In [12]:
df2.head()

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.00
1,1999,Chevy,"Venture ""Extended Edition""",,4900.00
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.00